.root {
  @apply relative border text-3xl flex justify-center items-center;
  padding: 40px 0;
  border-radius: 10px;
  &[data-active="true"] {
    box-shadow:  0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  &[data-active="false"] {
    color: #00000077;
  }
}
.svg {
  position: absolute;
  path, circle, polygon {
    fill: transparent;
    stroke-width: 2;
  }
  &[data-type="triangle"] {
    transform: translateY(-5px);
    polygon {
      stroke-width: 3;
    }
  }
  &[data-type="square"] {
    polygon {
      stroke-width: 4;
    }
  }
}